{% extends "partials/base.twig" %}
{% set title = "Dashboard" %}
{% set page_script = "/assets/js/dashboard.js" %}

{% block content %}
<div class="row">
    <div class="col s12 m5">
        <h3>Count</h3>
        <canvas id="countGraph"></canvas>
    </div>

    <div class="col m2"></div>

    <div class="col s12 m5">
        <h3>Last</h3>
        <table class="responsive-table">
            <tbody>
                <tr>
                    <td>Water</td>
                    <td>
                        <strong>{{ last.water ? last.water|date("F d, Y - H:i") :'Not found' }}</strong>
                    </td>
                </tr>
                <tr>
                    <td>Bier</td>
                    <td>
                        <strong>{{ last.bier ? last.bier|date("F d, Y - H:i") :'Not found' }}</strong>
                    </td>
                </tr>
                <tr>
                    <td>Shot</td>
                    <td>
                        <strong>{{ last.shot ? last.shot|date("F d, Y - H:i") :'Not found' }}</strong>
                    </td>
                </tr>
                <tr>
                    <td>Barf</td>
                    <td>
                        <strong>{{ last.barf ? last.barf|date("F d, Y - H:i") :'Not found' }}</strong>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{# TODO: Make type and date selector #}

<div class="row">
    <div class="col s12">
        <h3>All entries</h3>
        <canvas id="entriesGraph"></canvas>
    </div>
</div>

<script>
    window._count = {{ count | json_encode() | raw }}
    window._entries = {{ entries | json_encode() | raw }}
</script>

{% endblock %}
